body {
    background-color: rgb(30,30,30);
    color: rgb(200,200,200);
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

h1 {
    text-align: center;
    padding: 48px;
}

.box {
    background-color: rgb(60,60,60);
    width: 100px;
    height: 100px;
    position: relative;
    border: rgb(30,30,30);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.box:hover {
    background-color: rgb(90,90,90);
    cursor: pointer;
}

.box.disabled {
    background-color: rgb(50,50,50);
    cursor: default;
}

.box.disabled:hover {
    background-color: rgb(50,50,50);
    cursor: default;
}

.row, .table-row {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box.top {
    border-bottom-style: solid;
}

.box.bottom {
    border-top-style: solid;
}

.box.left {
    border-right-style: solid;
}

.box.right {
    border-left-style: solid;
}

button {
    margin: 48px;
}

button:hover {
    cursor: pointer;
}

#board {
    display: none;
}

.controls {
    min-height: 120px;
    display: flex;
}

#again-btn, #add-credits-btn {
    display: none;
}

#message {
    padding: 16px;
}

#turn-box, #credits-box, #stats-box {
    display: none;
}

.box.diagonal-left::before,
.box.diagonal-left.diagonal-right::before,
.box.horizontal.diagonal-left::after,
.box.vertical.diagonal-left::after {
  content: "";
  width: 180%;
  position: absolute;
  height: 2px;
  background-color: white;
  transform: rotate(-135deg);
}

.box.diagonal-right::before,
.box.diagonal-left.diagonal-right::after,
.box.horizontal.diagonal-right::after,
.box.vertical.diagonal-right::after {
  content: "";
  width: 180%;
  position: absolute;
  height: 2px;
  background-color: white;
  transform: rotate(-45deg);
}

.box.horizontal::before,
.box.horizontal.diagonal-left::before,
.box.horizontal.diagonal-right::before,
.box.vertical.horizontal::after {
  content: "";
  width: 140%;
  height: 2px;
  position: absolute;
  background-color: white;
  transform: rotate(0deg);
}

.box.vertical::before,
.box.vertical.diagonal-left::before,
.box.vertical.diagonal-right::before,
.box.vertical.horizontal::before {
  content: "";
  width: 120%;
  height: 2px;
  position: absolute;
  background-color: white;
  transform: rotate(-90deg);
}
