<!DOCTYPE html>
<html>
<head>
    <title>Tic Tac Toe</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Tic Tac Toe Game</h1>
        <div class="game">
            <div class="credits">
                <span id="credits-text"></span>
                <span id="credits-amount"></span>
            </div>
            <div class="controls">
            <button id="start-btn">Start Game</button>
            <button id="again-btn">Play Again</button>
            <button id="add-credits-btn">Add Credits</button>
            </div>
            <div id="board">
                <div class="row">
                    <div class="box top left" data-id="0"></div>
                    <div class="box top" data-id="1"></div>
                    <div class="box top right" data-id="2"></div>
                </div>
                <div class="row">
                    <div class="box left" data-id="3"></div>
                    <div class="box" data-id="4"></div>
                    <div class="box right" data-id="5"></div>
                </div>
                <div class="row">
                    <div class="box bottom left" data-id="6"></div>
                    <div class="box bottom" data-id="7"></div>
                    <div class="box bottom right" data-id="8"></div>
                </div>
            </div>
            <div class="turn-box">
                <span id="turn-text"></span>
                <span id="turn"></span>
            </div>
            <div id="message"></div>
        </div>
    </div>
    <script>
        const socket = io.connect();

        let credits;
        let turn;

        const gameBoard = document.getElementById('board');
        const boxes = document.getElementsByClassName('box');
        const creditsText = document.getElementById('credits-text');
        const turnText = document.getElementById('turn-text');
        const startGameButton = document.getElementById('start-btn');
        const playAgainButton = document.getElementById('again-btn');
        const addCreditsButton = document.getElementById('add-credits-btn');

        const updateTextContent = (field, value) => {
            document.getElementById(field).textContent = value;
        };

        const markCell = function() {
            if (!this.classList.contains('disabled')) {
            const id = this.getAttribute('data-id');
            socket.emit('validate_move', id, turn);
            };
        };

        for (box of boxes)
        {
            box.addEventListener('click', markCell);
        }

        socket.on('connected', function(data) {
            creditsText.textContent = 'Credits: '
            updateTextContent('credits-amount', data.credits);
        });

        socket.on('move_validated', function(data) {
            if (data.winner_fields) {
                for (box of boxes) {
                    box.classList.add('disabled');
                };
                playAgainButton.style.display = 'block';
                updateTextContent('message', 'The winner is ' + data.winner);
            };
            boxes[data.box_id].textContent = turn;
            boxes[data.box_id].classList.add('disabled');
            socket.emit('opponent_move');
        });

        socket.on('game_started', function(data) {
            startGameButton.style.display = 'none';
            gameBoard.style.display = 'block';
            turn = data.turn;
            updateTextContent('turn-text', 'Turn: ');
            updateTextContent('credits-amount', data.credits);
            updateTextContent('message', data.message);

        });

        socket.on('playing_again', function(data) {
            playAgainButton.style.display = 'none';
            updateTextContent('credits-amount', data.credits);
            updateTextContent('message', data.message);

            for (let i = 0; i < boxes.length; i++) {
              boxes[i].textContent = '';
              boxes[i].classList.remove('disabled');
            }

        });

        socket.on('credits_added', function(data) {
            updateTextContent('credits-amount', data.credits);
        });

        socket.on('opponent_moved', function(data) {
            boxes[data.id].textContent = 'O';
            boxes[data.id].classList.add('disabled');
        });

        socket.on('action_failed', function(data) {
            updateTextContent('message', data.message);
        });


        startGameButton.addEventListener('click', function() {
            socket.emit('start_game');
        });

        playAgainButton.addEventListener('click', function() {
            socket.emit('play_again');
        });

        addCreditsButton.addEventListener('click', function() {
            socket.emit('add_credits');
        });

    </script>
</body>
</html>
