<!DOCTYPE html>
<html>
<head>
    <title>Tic Tac Toe</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Tic Tac Toe</h1>
        <div class="game">
            <div id="credits-box">
                <span id="credits-text">Credits: </span>
                <span id="credits-amount"></span>
            </div>
            <div class="controls">
            <button id="start-btn">Start New Game</button>
            <button id="again-btn">Next Round</button>
            <button id="add-credits-btn">Add Credits</button>
            <button id="stats-btn">Daily Stats</button>
            </div>
            <div id="board">
                <div class="row">
                    <div class="box top left" data-id="0"></div>
                    <div class="box top" data-id="1"></div>
                    <div class="box top right" data-id="2"></div>
                </div>
                <div class="row">
                    <div class="box left" data-id="3"></div>
                    <div class="box" data-id="4"></div>
                    <div class="box right" data-id="5"></div>
                </div>
                <div class="row">
                    <div class="box bottom left" data-id="6"></div>
                    <div class="box bottom" data-id="7"></div>
                    <div class="box bottom right" data-id="8"></div>
                </div>
            </div>
            <div id="turn-box">
                <span id="turn-text">Turn: </span>
                <span id="turn"></span>
            </div>
            <div id="message"></div>
            <div id="stats-box">
                <div class="table-row">
                    <div class="cell" id="header-wins">Wins</div>
                    <div class="cell" id="header-draws">Draws</div>
                    <div class="cell" id="header-losses">Losses</div>
                    <div class="cell" id="header-time">Time Played</div>
                </div>
                <div class="table-row">
                    <div class="cell" id="data-wins"></div>
                    <div class="cell" id="data-draws"></div>
                    <div class="cell" id="data-losses"></div>
                    <div class="cell" id="data-time"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const socket = io.connect();

        let credits;
        let turn;

        const gameBoard = document.getElementById('board');
        const boxes = document.getElementsByClassName('box');
        const creditsBox = document.getElementById('credits-box');
        const turnBox = document.getElementById('turn-box');
        const statsBox = document.getElementById('stats-box');
        const startGameButton = document.getElementById('start-btn');
        const playAgainButton = document.getElementById('again-btn');
        const addCreditsButton = document.getElementById('add-credits-btn');
        const statsButton = document.getElementById('stats-btn');

        const updateText = (field, value) => {
            document.getElementById(field).textContent = value;
        };

        const updateBoard = (data) => {
            for (var i = 0; i < data.board.length; i++) {
                boxes[i].textContent = data.board[i];
            }
        };

        const updateSessionState = (data) => {
            if (data.message) {
                updateText('message', data.message);
            };
            if (data.credits !== undefined) {
                updateText('credits-amount', data.credits);
            };
            if (data.board) {
                updateBoard(data);
            };
        };

        const populateTable = (data) => {
            updateText('data-wins', data.total_wins);
            updateText('data-draws', data.total_draws);
            updateText('data-losses', data.total_losses);
            updateText('data-time', data.total_seconds);
        };

        const showElement = (element) => {
            element.style.display = 'block';
        };

        const hideElement = (element) => {
            element.style.display = 'none';
        };

        const lockCells = function() {
            for (box of boxes)
            {
                box.classList.add('disabled');
            }
        };

        const unlockCells = function() {
            for (box of boxes)
            {
                if (box.textContent === '') {
                    box.classList.remove('disabled');
                }
            }
        };

        const markCell = function() {
            if (!this.classList.contains('disabled')) {
                lockCells();
                const id = this.getAttribute('data-id');
                socket.emit('validate_move', id);
            };
        };

        const drawLines = function() {
            console.log(boxes);
            for (let x = 0; x < 9; x += 3) {
                if (boxes[x].textContent !== '' && boxes[x].textContent === boxes[x+1].textContent && boxes[x+1].textContent === boxes[x+2].textContent) {
                    boxes[x].classList.add('horizontal');
                    boxes[x+1].classList.add('horizontal');
                    boxes[x+2].classList.add('horizontal');
                };
            };

            for (let x = 0; x < 3; x++) {
                if (boxes[x].textContent !== '' && boxes[x].textContent === boxes[x+3].textContent && boxes[x+3].textContent === boxes[x+6].textContent) {
                    boxes[x].classList.add('vertical');
                    boxes[x+3].classList.add('vertical');
                    boxes[x+6].classList.add('vertical');
                };
            };

            if (boxes[0].textContent !== '' && boxes[0].textContent === boxes[4].textContent && boxes[4].textContent === boxes[8].textContent) {
                boxes[0].classList.add('diagonal-left');
                boxes[4].classList.add('diagonal-left');
                boxes[8].classList.add('diagonal-left');
            };

            if (boxes[2].textContent !== '' && boxes[2].textContent === boxes[4].textContent && boxes[4].textContent === boxes[6].textContent) {
                boxes[2].classList.add('diagonal-right');
                boxes[4].classList.add('diagonal-right');
                boxes[6].classList.add('diagonal-right');
            };
        };

        const clearLines = function() {
            for (box of boxes) {
                box.classList.remove('horizontal');
                box.classList.remove('vertical');
                box.classList.remove('diagonal-left');
                box.classList.remove('diagonal-right');
            }
        };

        for (box of boxes)
        {
            box.addEventListener('click', markCell);
        }

        socket.on('connected', function(data) {
            updateSessionState(data);
            showElement(creditsBox);
        });

        socket.on('game_started', function(data) {
            hideElement(startGameButton);
            clearLines();
            updateSessionState(data);
            showElement(gameBoard);
        });

        socket.on('playing_again', function(data) {
            hideElement(playAgainButton);
            hideElement(addCreditsButton);
            clearLines();
            updateSessionState(data);
        });

        socket.on('round_ended', function(data) {
            updateSessionState(data);
            drawLines();
            showElement(playAgainButton);
            showElement(addCreditsButton);
        });

        socket.on('game_ended', function(data) {
            updateSessionState(data);
            drawLines();
            showElement(startGameButton);
        });

        socket.on('state_updated', function(data) {
            updateSessionState(data);
            if (data.unlock) {
                unlockCells();
            };
        });

        startGameButton.addEventListener('click', function() {
            lockCells();
            socket.emit('start_game');
        });

        playAgainButton.addEventListener('click', function() {
            lockCells();
            socket.emit('play_again');
        });

        addCreditsButton.addEventListener('click', function() {
            socket.emit('add_credits');
        });

        document.getElementById('stats-btn').addEventListener('click', function() {
            fetch('/stats')
              .then(function(response) {
                if (response.ok) {
                  return response.json();
                }
                throw new Error('Request failed');
              })
              .then(function(data) {
                showElement(statsBox);
                populateTable(data);
                setTimeout(function() {
                  hideElement(statsBox);
                }, 3000);
              })
              .catch(function(error) {
                updateText('message', error);
              });
          });

    </script>
</body>
</html>
